<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
    <link href="https://fonts.googleapis.com/css?family=Cousine:400,700" rel="stylesheet"> 

    <title>Jens Piegsa</title>
  </head>

  <body onload="lastModified();">

    <header>
      <div class="container">
        <h1>jens-piegsa.com <img src="https://secure.gravatar.com/avatar/9f3cfb54c29e543f1ba2a2319d027ad0.png?s=240" alt="Jens Piegsa" width="60" height="60" /></h1>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{content}}
      </section>
    </div>
    
    <hr />
	<div id="footer" class="container"></div>

	<script>
	function lastModified() {
		if(document.lastModified) {
		    document.getElementById('footer').innerHTML = "Last modified at " + new Date(document.lastModified).toLocaleString() + ".";
		}
	}
	</script>

  </body>
</html>
